# 빌드 디렉토리
**/build/
**/out/
**/target/

# IDE 관련 파일 (IntelliJ, Eclipse 등)
**/.idea/
**/.project
**/.classpath
**/.settings/

# OS 관련 파일
.DS_Store
Thumbs.db

# 로그 파일
**/*.log

# 환경 파일
**/.env
**/*.env

# 바이너리, 임시 파일
**/*.class
**/*.jar
**/*.war
**/*.ear

# 테스트 리포트
**/test-output/
**/surefire-reports/

# 기타
**/.vscode/
